In [1]:
from ipprl_tools import metrics
from ipprl_tools.utils.data import get_data
import pandas as pd

The `get_data` function will download a demo dataset CSV, which can be used to demostrate the metrics calculation.

In [2]:
demo_data_path = get_data()

**Note:** In order for metrics calculation to work correctly, it is important that we call the read_csv function with the following arguments:

- `dtype=str` - Ensures that all columns are read in as strings (as opposed to numeric/date/etc). This is important as the metrics calculations assume they are working with strings.
- `keep_default_na=False` - Ensures that missing values are coded as `''` instead of `np.nan` or some other value. The metric calculations will also assume that empty string `''` is the missing value placeholder.

In [3]:
demo_data = pd.read_csv(demo_data_path, dtype=str, keep_default_na=False)

We can now calculate metrics on the demo data, using the `run_metrics` function.

In [4]:
result_metrics = metrics.run_metrics(demo_data)

We can view the metrics within this notebook.

In [5]:
result_metrics

,Mean Group Size,Median Group Size,Stdev Group Size,Min Group Size,Max Group Size,Missing Data Ratio,Distinct Values Ratio,Shannon Entropy,Theoretical Max Entropy,% Theoretical Max Entropy,Row Count
row_id,1.000000,1.0,0.000000,1,1,0.000000,1.000000,16.943270,16.943270,100.000000,126018
address,1.934928,1.0,1.282508,1,13,0.000000,0.516815,15.727277,15.990990,98.350864,126018
cell_phone_number,1.063475,1.0,0.304271,1,6,0.000603,0.939755,16.809274,16.853626,99.736840,126018
city,8.341696,5.0,15.852526,1,666,0.000000,0.119880,12.979011,13.882930,93.488989,126018
county,68.862295,29.0,128.212054,1,2424,0.000000,0.014522,9.674918,10.837628,89.271546,126018
dob,4.109908,4.0,2.835599,1,32,0.000000,0.243314,14.611513,14.904164,98.036445,126018
father_first_name,63.709808,10.0,200.663789,1,3050,0.000000,0.015696,8.681256,10.949827,79.282129,126018
father_last_name,4.304776,1.0,19.389642,1,1208,0.000000,0.232300,12.915957,14.837332,87.050398,126018
first_name,34.077339,6.0,97.923743,1,1813,0.000000,0.029345,9.848584,11.852530,83.092674,126018
home_phone_number,1.902618,1.0,1.246427,1,13,0.000000,0.525592,15.757274,16.015284,98.388974,126018
last_name,5.269633,2.0,21.364072,1,1235,0.000000,0.189767,12.788687,14.545568,87.921536,126018
marital_status,42006.000000,33410.0,33707.226208,5698,86910,0.000000,0.000024,1.079445,1.584963,68.105367,126018
middle_name,33.739759,6.0,97.777373,1,1840,0.000000,0.029639,9.844487,11.866893,82.957580,126018
mother_first_name,51.689089,13.0,123.176908,1,1537,0.000000,0.019346,9.476584,11.251482,84.225203,126018
mother_last_name,4.032576,1.0,18.751422,1,1199,0.000000,0.247980,12.984405,14.931569,86.959415,126018
race,18002.571429,9153.0,24690.157581,204,76858,0.000000,0.000056,1.773664,2.807355,63.179176,126018
sex,63009.000000,63009.0,283.000000,62726,63292,0.000000,0.000016,0.999985,1.000000,99.998545,126018
ssn,1.000016,1.0,0.003984,1,2,0.000000,0.999984,16.943239,16.943247,99.999948,126018
state,2470.941176,1650.0,2805.503271,220,15026,0.000000,0.000405,5.002082,5.672425,88.182421,126018
zip,5.021638,4.0,3.876790,1,36,0.000000,0.199138,14.231454,14.615112,97.374924,126018

Finally, we write the computed metrics out to a file.

In [6]:
result_metrics.to_csv("demo_metrics_out.csv", index_label="data_column")